<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">FACT-Finder®</label>
    <label lang="en">FACT-Finder®</label>

    <version>1.0.0</version>
    <copyright>(c) by Omikron Data Quality GmbH</copyright>
    <license>proprietary</license>
    <link>https://web-components.fact-finder.de/</link>
    <author>Omikron Data Quality GmbH</author>
    <compatibility minVersion="5.5.0" />
</plugin>
