<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>ffEnabled</name>
            <label>Enable FACT-Finder® Web Components?</label>
            <label lang="de">FACT-Finder® Web Components aktivieren?</label>
            <value>false</value>
        </element>

        <element>
            <name>ffServerUrl</name>
            <label>Server URL</label>
            <label lang="de">Server URL</label>
        </element>

        <element>
            <name>ffChannel</name>
            <label>Channel</label>
            <label lang="de">Channel</label>
        </element>

        <element type="select">
            <name>ffVersion</name>
            <label>FACT-Finder® Version</label>
            <label lang="de">Version von FACT-Finder®</label>
            <value>ng</value>
            <store>
                <option>
                    <value>ng</value>
                    <label>NG</label>
                </option>
                <option>
                    <value>7.3</value>
                    <label>7.3</label>
                </option>
                <option>
                    <value>7.2</value>
                    <label>7.2</label>
                </option>
            </store>
        </element>

        <element>
            <name>ffUser</name>
            <label>Username</label>
            <label lang="de">Benutzername</label>
        </element>

        <element type="password">
            <name>ffPassword</name>
            <label>Password</label>
            <label lang="de">Passwort</label>
        </element>

        <element type="button">
            <name>ffTestconnection</name>
            <label>Test Connection</label>
            <label lang="de">Test-Verbindung</label>
            <options>
                <cls>primary</cls>
                <handler>
                    <![CDATA[
                        function (button) {
                            console.log(document);
                            xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4) {
                                     Shopware.Notification.createGrowlMessage(xhr.responseText);
                                }
                            }
                             var formData =  button.isContained.items.items
                                .map(element => encodeURIComponent(element.elementName) + '=' + encodeURIComponent(element.value))
                                .join('&')
                                .replace(/%20/g, '+');

                            xhr.open("POST", "factfinder/testConnection", true);
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                            xhr.send(formData);
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element type="boolean">
            <name>ffUseForCategories</name>
            <label>Use FACT-Finder® on category pages?</label>
            <label lang="de">Kategorieseiten mit FACT-Finder® rendern?</label>
            <value>true</value>
        </element>

        <element>
            <name>ffFtpUrl</name>
            <label>FTP URL</label>
            <label lang="de">FTP URL</label>
        </element>

        <element>
            <name>ffFtpUser</name>
            <label>FTP User</label>
            <label lang="de">FTP Benutzer</label>
        </element>

        <element type="password">
            <name>ffFtpPassword</name>
            <label>FTP Password</label>
            <label lang="de">FTP Passwort</label>
        </element>
    </elements>
</config>
